@model Category

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Kategori Ekleme Sayfası</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label>Kategori Adı</label>
                        <input type="text" class="form-control" placeholder="Kategori adını yazınız" asp-for="CategoryName">
                    </div>
                    <div class="d-flex justify-content-end mt-4 none-border">
                        <button type="submit" class="btn btn-outline-success mr-3 btn-rounded">Ekle</button>
                        <a href="/Category/CategoryList/" class="btn btn-outline-danger btn-rounded mr-2">Vazgeç</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>