<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-shopping-cart"></i>
                    Toplam Siparişler
                </h4>
                <canvas id="orders-chart"></canvas>
                <div id="orders-chart-legend" class="orders-chart-legend"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-truck"></i>
                    Bu Ayki Siparişler
                </h4>
                <h2 class="mb-5">56000 <span class="text-muted h4 font-weight-normal">Sales</span></h2>
                <canvas id="sales-chart"></canvas>
            </div>
        </div>
    </div>
</div>