<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="~/Melody-Premium-Bootstrap-Admin-Dashboard-Template/images/faces/face5.jpg" alt="image" />
                </div>
                <div class="profile-name">
                    <p class="name">
                        Hoş Geldin, Zehra
                    </p>
                    <p class="designation">
                        Super Admin
                    </p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Statistic/">
                <i class="fa fa-signal menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/CategoryList/">
                <i class="fab fa-linode menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByCustomerName/">
                <i class="far far fa-user menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (A-Z)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByDescBalance/">
                <i class="far fa-credit-card menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (Bakiye)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListByCity/">
                <i class="far fa fa-address-book menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (Şehir)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/ProductList/">
                <i class="far fa-clipboard menu-icon"></i>
                <span class="menu-title">Ürün Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/First5ProductList/">
                <i class="far fa-file-alt menu-icon"></i>
                <span class="menu-title">Ürün Listesi (İlk 5 Ürün)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/Skip4ProductList/">
                <i class="fa fa-archive menu-icon"></i>
                <span class="menu-title">Ürün Listesi (4 Ürün)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderList/">
                <i class="fa fa-list-ul menu-icon"></i>
                <span class="menu-title">Sipariş Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/AllStockSmallerThan5/">
                <i class="fa fa-filter menu-icon"></i>
                <span class="menu-title">Sipariş Listesi (Stok Sayısı < 5)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListByStatus/">
                <i class="fa fa-tasks menu-icon"></i>
                <span class="menu-title">Duruma Göre Sipariş Listesi</span>
            </a>
        </li>
    </ul>
</nav>