@model List<Todo[]>
@{
    ViewData["Title"] = "TodoChunk";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
}


<h4 class="card-title">Chunk ile Gruplanmış Görevler</h4>
@foreach (var group in Model)
{
    count++;
    <h5 class="card-title">@count. Grup</h5>
    <div class="row">
        @foreach (var item in group)
        {
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Description</h5>
                        <p class="card-text">@item.Priority.GetDescription()</p>
                        <span class="badge bg-warning text-dark">Tamamlanmadı</span>
                    </div>
                </div>
            </div>
        }
    </div>
}