@{
    ViewData["Title"] = "AllStockSmallerThan5";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tüm stoklar 5 ve 5'ten küçük mü?</h4>
                @if (!string.IsNullOrEmpty(ViewBag.message))
                {
                    <div class="alert alert-success mt-3">
                        @ViewBag.message
                    </div>
                }
            </div>
        </div>
    </div>
</div>